<footer class="bg-dark" >
   <div class="container">
    <div class="row ">
        <div class="col-md-3 col-sm-6">
            <h3 class="footer-logo"><span>Nada</span>Store</h3>
            
            <ul>
                <li><a href="#">about </a></li>
                <li><a href="#">what we offer </a></li>
                <li><a href="#">careers </a></li>
                <li><a href="#">picture </a></li>
                <li><a href="#">blog </a></li>
            </ul>
           
        </div>

        <div class="col-md-3 col-sm-6 footer-item">
            <h3 class="footer-logo"> Products</h3>
            <ul>
                <li><a href="#">get the app</a></li>
                <li><a href="#">testimonials</a></li>
                <li><a href="#">pricing</a></li>
                <li><a href="#">faq</a></li>
                <li><a href="#">buy</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-sm-6">
            <h3 class="footer-logo">More</h3>
            <ul>
                <li><a href="#">affiliates</a></li>
                <li><a href="#">product</a></li>
                <li><a href="#">traning </a></li>
                <li><a href="#"> personality  </a></li>
                <li><a href="#">help  support</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-sm-6">
            <h3 class="footer-logo">Media</h3>
            <ul>
                <li><a href="#"><i class="fab fa-facebook social-icon"></i> facebook</a></li>
                <li><a href="#"><i class="fab fa-twitter social-icon"></i> twitter</a></li>
                <li><a href="#"><i class="fab fa-instagram social-icon"></i> instgram</a></li>
                <li><a href="#"><i class="fab fa-youtube social-icon"></i> youtube</a></li>
                <li><a href="#"><i class="fab fa-linkedin social-icon"></i> linkedin</a></li>
            </ul>
        </div>
    </div>
   </div>
</footer>
