<section class="item">
    <h2>#KnowUs</h2>
    <p>lorem ipsum dolor sit amet, consectetur</p>
</section>

<section class="p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <img class="photoo" src="assets/b3.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h1>Who We Are?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
                     Tempore consequuntur doloribus quam reiciendis dolorum accusantium, <br>
                      dolor, vitae harum pariatur autem corporis voluptates, <br>
                     debitis in ipsa nostrum laborum velit fugiat voluptatem!
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
                     Tempore consequuntur doloribus quam reiciendis dolorum accusantium, <br>
                      dolor, vitae harum pariatur autem corporis voluptates, <br>
                     debitis in ipsa nostrum laborum velit fugiat voluptatem!
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
                     Tempore consequuntur doloribus quam reiciendis dolorum accusantium, <br>
                      dolor, vitae harum pariatur autem corporis voluptates, <br>
                     debitis in ipsa nostrum laborum velit fugiat voluptatem!
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
                     Tempore consequuntur doloribus quam reiciendis dolorum accusantium, <br>
                      dolor, vitae harum pariatur autem corporis voluptates, <br>
                     debitis in ipsa nostrum laborum velit fugiat voluptatem!
                     Tempore consequuntur doloribus quam reiciendis dolorum accusantium, <br>
                     dolor, vitae harum pariatur autem corporis voluptates, <br>
                    debitis in ipsa nostrum laborum velit  </p>
            </div>
        </div>
    </div>
</section>
